# Archivos de compilación y ejecutables
*.exe
*.dll
*.class
*.o

# Archivos de configuración
*.log
*.config

# Directorios generados
/bin/
/build/
/target/

# Dependencias y librerías
/node_modules/
/vendor/

# Archivos temporales
*.tmp
*.swp

# IDE y editores específicos
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de respaldo y temporales
*.bak
*.backup
*.old
