<!doctype html>
<html lang="en">

    <%- include('../partials/head') %> 

<body class="bg-black">
    <div class="container">
        <%- include('../partials/header') %>
    </div>
    <main>
        <section>
            <div class="container py-5 h-100 bg-black">
                <div class="row d-flex justify-content-center align-items-center h-100 ">
                    <div class="col ">
                        <div class="card bg-black text-white">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-lg-7 ">
                                        <h5 class="mb-3 "><a href="#!" class="text-white "><i
                                            class="fas fa-long-arrow-alt-left me-2 text-white"></i>Continuar comprando</a>
                                        </h5>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div>
                                                <p class="mb-1">Carrito de Compras</p>
                                                <p class="mb-0">Tienes 3 artículos en tu carrito</p>
                                            </div>
                                            <div>
                                                <p class="mb-0 text-white"><span class="">Ordenar por:</span> <a href="#!"
                                                        class="text-white">Precio <i
                                                            class="fas fa-angle-down mt-1"></i></a></p>
                                            </div>
                                        </div>
                                        
                                        <div class="card mb-3">
                                            <div class="card-carrito card-body ">
                                                <div class=" d-flex justify-content-between">
                                                    <div class=" d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="/img/img-equipos/HP pavilion 1.webp"
                                                                class="img-productos-carrito img-fluid rounded-3" alt="Shopping item"
                                                                style="width: 65px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>HP Pavilion 15-ec1035la</h5>
                                                            <p class="small mb-0">256GB, Navy Blue</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div style="width: 50px;">
                                                            <h5 class="fw-normal mb-0">1</h5>
                                                        </div>
                                                        <div>
                                                            <h5 class="mb-0 me-3">$199.999</h5>
                                                        </div>
                                                            <a href="#!" class="carrito-trash"><i
                                                            class="borrar-producto fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-3">
                                            <div class="card-carrito card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="/img/img-equipos/ASUS rs 1.webp"
                                                                class="img-productos-carrito img-fluid rounded-3" alt="Shopping item"
                                                                style="width: 65px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>Asus Rog Strix Scar gl503</h5>
                                                            <p class="small mb-0">Onyx Black</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div style="width: 50px;">
                                                            <h5 class="fw-normal mb-0">1</h5>
                                                        </div>
                                                        <div>
                                                            <h5 class="mb-0 me-3">$889.999</h5>
                                                        </div>
                                                        <a href="#!"class="carrito-trash" ><i
                                                            class="borrar-producto fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-carrito card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="/img/img-equipos/MSI raider 1.png"
                                                                class="img-productos-carrito img-fluid rounded-3" alt="Shopping item"
                                                                style="width: 65px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>MSI Vector GP76 HX - 12U</h5>
                                                            <p class="small mb-0">1TB, Graphite</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div style="width: 50px;">
                                                            <h5 class="fw-normal mb-0">1</h5>
                                                        </div>
                                                        <div>
                                                            <h5 class="mb-0 me-3">$739.890</h5>
                                                        </div>
                                                        <a href="#!" class="carrito-trash" ><i
                                                                class="borrar-producto fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 ">
                                        <div class="card section-bg-color-carrito text-white rounded-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center mb-4">
                                                    <h5 class="mb-0">Detalles de la Tarjeta</h5>
                                                </div>
                                                <p class="small mb-2">Tipo de Tarjeta</p>
                                                <a href="#!" type="submit" class="text-white"><i
                                                        class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                                                <a href="#!" type="submit" class="text-white"><i
                                                        class="fab fa-cc-visa fa-2x me-2"></i></a>
                                                <a href="#!" type="submit" class="text-white"><i
                                                        class="fab fa-cc-amex fa-2x me-2"></i></a>
                                                <a href="#!" type="submit" class="text-white"><i
                                                        class="fab fa-cc-paypal fa-2x"></i></a>
                                                <form class="mt-4">
                                                    <div class="form-outline form-white mb-4">
                                                        <input type="text" id="typeName"
                                                            class="form-control form-control-lg" siez="17"
                                                            placeholder="Nombre de la Tarjeta" />
                                                        <label class="form-label" for="typeName">Nombre de la Tarjeta</label>
                                                    </div>
                                                    <div class="form-outline form-white mb-4">
                                                        <input type="text" id="typeText"
                                                            class="form-control form-control-lg" siez="17"
                                                            placeholder="1234 5678 9012 3457" minlength="19"
                                                            maxlength="19" />
                                                        <label class="form-label" for="typeText">Numero de la Tarjeta</label>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-md-6">
                                                            <div class="form-outline form-white">
                                                                <input type="text" id="typeExp"
                                                                    class="form-control form-control-lg"
                                                                    placeholder="MM/YYYY" size="7" id="exp"
                                                                    minlength="7" maxlength="7" />
                                                                <label class="form-label"
                                                                    for="typeExp">Expiración</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-outline form-white">
                                                                <input type="password" id="typeText"
                                                                    class="form-control form-control-lg"
                                                                    placeholder="&#9679;&#9679;&#9679;" size="1"
                                                                    minlength="3" maxlength="3" />
                                                                <label class="form-label" for="typeText">Cvv</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <hr class="my-4">
                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Subtotal</p>
                                                    <p class="mb-2">$1.829.889</p>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Envio</p>
                                                    <p class="mb-2">$4500</p>
                                                </div>
                                                <div class="d-flex justify-content-between mb-4">
                                                    <p class="mb-2">Total(+IVA)</p>
                                                    <p class="mb-2">$1.834.389</p>
                                                </div>
                                                <button type="button" class="btn-head btn btn-info btn-block btn-lg text-white">
                                                    <div class="d-flex justify-content-between">
                                                        <span>Finalizar compra</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container">
        <!-- Footer -->
            <%- include('../partials/footer') %> 
        <!-- Footer -->
    </div>
    <!-- End of .container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
        integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>