<footer class="text-center text-lg-start text-white bg-black">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row d-flex justify-content-md-around">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4  mt-3 px-xl-4">
                    <picture>
                        <img src="/img/logo-white.svg" width="150px" class="bg-white" alt="logo">
                    </picture>
                </div>
                <!-- Grid column -->
                <div class="d-none d-md-block col-md-5 col-lg-4 mt-3 fs-6">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                    <p><i class="fas fa-home mr-3"></i> Ciudad Autónoma de Buenos Aires, Argentina.</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@techpointba.com</p>
                    <p><i class="fas fa-phone mr-3"></i> (+54) 11-7223-4885</p>
                    <p><i class="far fa-clock mr-3"></i> Lunes a viernes: 10AM - 17PM</p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-4  mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Redes Sociales</h6>
                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!"
                        role="button"><i class="fab fa-facebook-f"></i></a>
                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!"
                        role="button"><i class="fab fa-instagram"></i></a>
                    <!-- Whatsapp -->
                    <a class="btn btn-primary btn-floating m-1 bg-success" href="#!" role="button"><i
                            class="fab fa-whatsapp"></i></a>
                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center pt-3 fs-6 d-flex justify-content-start"
        style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white">Derechos Reservados</a>
    </div>
    <!-- Copyright -->
</footer>