<header>
    <nav class="navbar bg-black navbar-dark d-flex justify-content-between">
        <!-- Brand/logo -->
        <a class="navbar-brand ms-4" href="/"><img src="/img/logo-grande.jpeg" alt="logo"></a>

        <div class="hamburger-button d-flex d-md-none me-4 mt-3">
            <i class="fa fa-bars burger text-white mb-3 fs-3"></i>
        </div>

        <!-- Links -->
        <ul class="navbar-nav flex-row d-none d-md-flex">
            <li class="nav-item m-4">
                <a class="nav-link text-white style-nav" href="/">NOSOTROS</a>
            </li>
            <li class="nav-item m-4">
                <a class="nav-link text-white style-nav" href="/">LIMPIEZAS</a>
            </li>
            <li class="nav-item m-4">
                <a class="nav-link text-white style-nav" href="/products">EQUIPOS</a>
            </li>
        </ul>

        <!-- Links  -->
        <ul class="navbar-nav d-flex flex-row d-none d-md-flex">
            <li class="nav-item m-3">
                <a class="nav-link" href="/products/carrito">
                    <i class="fas fa-cart-plus text-white"></i>
                </a>
            </li>
            <li class="nav-item m-3">
                <a class="nav-link" href="/users/profile">
                    <i class="fas fa-user text-white"></i>
                </a>
            </li>
            <li class="nav-item m-3">
                <a class="nav-link" href="/users/login">
                    <i class="fas fa-sign-in-alt text-white"></i>
                </a>
            </li>
            <li class="nav-item m-3">
                <a class="nav-link" href="/users/register">
                    <i class="fas fa-user-plus text-white"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>