<!doctype html>
<html lang="en">

    <%- include('../partials/head') %> 

<body class="bg-black">
    <div class="container">
        <%- include('../partials/header') %>
    </div>
    <main>
        <!-- Section: Design Block -->
        <section class="container text-center text-lg-start bg-login">
            <div class="card-main mb-3">
                <div class="card-login row g-0 d-flex align-items-center flex-lg-row">
                    <div class="image col-lg-6 mt-md-4">
                        <img src="/img/Login.jpg"
                            alt="Trendy Pants and Shoes" class=" w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body py-5 px-md-5">

                            <form action="/users/login" method="POST"> 
                                <div class="mt-5 text-white">
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input type="email" id="form2Example1" class="form-control" name="email" />
                                        <label class="form-label" for="form2Example1">Email </label>
                                        <% if (locals.errors && errors.email) { %>
                                            <div class="text-danger">
                                                <%= errors.email.msg  %>
                                            </div>
                                        <% } %>
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example2" class="form-control" name="password" />
                                        <label class="form-label" for="form2Example2">Contraseña</label>
                                    </div>

                                    <!-- 2 column grid layout for inline styling -->
                                    <div class="row mb-4">
                                        <div class="col d-flex justify-content-center">
                                            <!-- Checkbox -->
                                            <div class="form-check">
                                                <label class="form-check-label" for="form2Example31" >
                                                    <input class="form-check-input" type="checkbox" id="form2Example31" value="email"  name="remember_user"> Recuerdame
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <!-- Simple link -->
                                            <a href="#!" class="text-white">Olvidaste tu contraseña?</a>
                                        </div>
                                    </div>

                                    <!-- Submit button -->
                                    <button type="submit" class="btn text-white btn-head btn-block mb-4">Acceder</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </main>
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container">
        <!-- Footer -->
            <%- include('../partials/footer') %> 
        <!-- Footer -->
    </div>
    <!-- End of .container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
        integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>